.happy-clients {
  background-color: $about-us-bg-color;
  padding-top: 140px;
  padding-bottom: 160px;

  .row {
    display: block;
  }

  &__blocks {
    @extend %flex-wrap;
    justify-content: center;
  }

  .blocks-plates {
    max-width: calc(50% - 15px * 2);
    display: flex;
    background-color: $color-wht;
    margin-bottom: 20px;
    padding: 50px 40px 50px 30px;
  }

  .blocks-plates:nth-of-type(2),
  .blocks-plates:nth-of-type(4) {
    margin-left: 15px;
  }

  .blocks-plates:nth-of-type(1),
  .blocks-plates:nth-of-type(3) {
    margin-right: 15px;
  }

  &__heading {
    text-align: center;
    margin-bottom: 60px;
    color: $color-wht;
  }
  &__heading p {
    font-weight: 400;
  }

  img {
    padding-right: 15px;
  }

  .client p {
    padding-top: 25px;
    margin-left: 27px;
  }

  span {
    color: $clients-name;
    font-weight: 400;
  }

  blockquote {
    color: $clients-quotes;
    position: relative;
    margin-right: 10px;
  }

  .quotes-flex {
    display: flex;
  }

  .quotes-flex img {
    width: 27px;
    height: 10px;
    padding-right: 15px;
  }

  img[alt="quotes-bottom"] {
    align-self: flex-end;
    right: 35%;
    width: 27px;
    height: 10px;
  }
}
