@include full-hd {
  .boost-up .container {
    max-width: $breackpoint-laptop;
    margin: 0 auto;
  }

  .boost-up__form .input_button {
    margin-top: 10px;
  }
}

@include laptop() {
  .boost-up .container {
    max-width: $breackpoint-tablet;
  }
  .boost-up__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boost-up .row {
    flex-wrap: nowrap;
  }

  .boost-up__heading,
  .boost-up__description {
    text-align: center;
  }

  .input_form {
    margin-bottom: 10px;
  }
}

@include tablet() {
  .boost-up .container {
    max-width: $breackpoint-phone;
  }
  .boost-up__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input_form {
    margin-bottom: 10px;
  }
  .boost-up .boost-up__img-laptop,
  .boost-up .boost-up__movie {
    display: none;
  }

  main .services {
    margin-top: 100px;
  }
}

@include phone() {
  .boost-up .container {
    width: 100%;
    margin: 0 auto;
  }
  .boost-up .boost-up__img-laptop,
  .boost-up .boost-up__movie {
    display: none;
  }
  main .services {
    margin-top: 100px;
  }


}
