@include laptop() {
  .image-dotted-line,
  .image-dotted-line-rotate {
    display: none;
  }

  .works {
    &__images {
      padding: 0;
    }

    &__description {
      flex-direction: row;
    }
  }
}

@include tablet() {
  .works {
    &__images {
      display: none;
    }

    .media-laptop {
      display: block;
    }

    &__description {
      flex-wrap: wrap;
    }

    .media-laptop {
      padding: 0;
      margin: 0 auto;
    }
    .description__step1 {
      max-width: 50%;
    }

    .description__step1 p,
    h3 {
      margin: 20px auto;
    }
  }
  main .works {
    padding-top: 100px;
  }
}

@include phone {
  main .works {
    padding-top: 100px;
  }

  main .works {
    padding-top: 100px;
  }


}
