@include full-hd {
  footer .container {
    max-width: $breackpoint-laptop;
    margin: 0 auto;
  }
  footer .menu {
    text-align: center;
    padding-left: 0;
  }
}

@include laptop() {
  footer .container {
    max-width: $breackpoint-tablet;
    text-align: center;
    padding-left: 0;
  }

  footer .menu {
    padding-left: 0;
  }
}

@include tablet() {
  footer .container {
    max-width: $breackpoint-phone;
  }
  footer .row {
    @include flex-column;
  }
  .footer menu {
    @include flex-column;
  }
}

@include phone() {
  footer .row {
    @include flex-column;
  }

  .footer menu {
    @include flex-column;
  }
}
