@include laptop {
  .newsletter {
    &__input-form {
      flex-wrap: wrap;
    }

    &__input-form .input_button {
      margin-top: 15px;
    }
  }
}

@include tablet {
  .newsletter {
    &__bg {
      max-width: 100%;
      max-height: 350px;
      margin: 0 20px;
    }

    input[placeholder="Email Address"],
    input[placeholder="Name"] {
      max-width: 300px;
      height: 45px;
    }

    &__input-form {
      flex-direction: column;
      height: 250px;
      justify-content: space-between;
      align-items: center;
    }

    &__input-form .input_button {
      margin-top: 0;
    }

    &__shape {
      @include newsletter-shape-adaptive;
      background-size: 190px 190px;
    }
    &__address {
      margin-top: 15px;
      font-size: 13px;
    }
  }
}

@include phone {
  .newsletter {
    input[placeholder="Email Address"],
    input[placeholder="Name"] {
      max-width: 350px;
      height: 45px;
    }


    .input_form-text,
    .input_form-email {
      margin-right: 0;
    }

    &__bg {
      max-width: 100%;
      max-height: 250px;
      margin: 0 auto;
    }

    &__address p,
    &__address span.address,
    &__address span.email {
      font-size: $font-size-xs;
    }

    &__address {
      margin-top: 15px;
    }

    &__logo {
      top: 85%;
      left: 53%;
      background-size: 30px 30px;
    }
  }
}
