.newsletter {
  padding-top: 155px;
  padding-bottom: 70px;

  &__heading,
  &__input-form {
    width: 100%;
  }

  .newsletter__heading {
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
    line-height: 25px;
  }
  .newsletter__heading p {
    color: $clients-quotes;
  }

  .row {
    justify-content: center;
  }

  &__input-form {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  &__input-form .input_form-text,
  input[placeholder="Name"] {
    width: 300px;
    height: 45px;
  }

  &__input-form .input_form-email,
  input[placeholder="Email Address"] {
    width: 385px;
    height: 45px;
  }

  .input_form-email,
  .input_form-text {
    margin-right: 15px;
  }
  input[placeholder="Email Address"],
  input[placeholder="Name"] {
    padding: 10px 10px 10px 40px;
    border: 2px solid $hewsletter-input-border;
    color: $color-blk;
    border-radius: 2px;
    outline: none;
  }

  label {
    display: inline-block;
  }

  &__button {
    background-color: $color-yellow;
    @include button;
    border: none;
    width: 218px;
    height: 45px;
  }

  &__form-email {
    @include input-newsletter-email("./../../../images/newsletter-email.png");
  }

  &__form-text {
    @include input("./../../../images/newsletter-user.png");
  }

  &__bg {
    width: 1110px;
    height: 550px;
    position: relative;
    margin-bottom: 50px;
    background: round;
  }

  &__shape {
    @include newsletter-shape;
  }

  &__address {
    text-align: center;
    margin-top: 70px;
  }

  &__address p {
    font-style: normal;
    color: $color-wht;
    font-size: $font-size-md;
    font-weight: 700;
  }

  &__address span.address {
    font-style: normal;
    color: $newsletter-shape-span;
  }
  &__address span.email {
    font-style: normal;
    color: $color-yellow;
  }

  &__logo {
    @include newsletter-logo;
  }

  &__hr {
    width: 98%;
    border: 1px solid $newsletter-br-clr;
  }
}
