$content-width: 1250px;
$content-x-padding: 15px;
$main-font: "Lato", sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-xl: 22px;
$font-size-xxl: 28px;
$font-size-extral: 32px;

$color-grey: #868686;
$color-yellow: #ffbb42;
$services-p-color: #919191;
$about-us-bg-color: #ffc155;
$about-us-text-color: white;
$about-us-btn-border-color: #e7ad48;
$color-wht: white;
$boost-up-bg-color: #709dca;

$breackpoint-full-hd: 1250px;
$breackpoint-laptop: 1024px;
$breackpoint-tablet: 767px;
$breackpoint-phone: 375px;
