@include laptop {
  .happy-clients .happy-clients__blocks .blocks-plates {
    margin: 20px auto;
    padding: 10px;
    min-width: 230px;
  }

}

@include tablet {
  .happy-clients .blocks-plates {
    max-width: 80%;
  }
}

@include phone {
  .happy-clients .blocks-plates {
    max-width: 100%;
  }
}
