.choose-your-price {
  background-color: $price-blocks-grey;
  padding-top: 135px;
  padding-bottom: 195px;

  .row {
    flex-direction: column;
  }

  p {
    color: $clients-quotes;
  }

  &__price-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__plan {
    width: 30%;
    text-align: center;
  }

  hr {
    border: none;
    color: $hr-color-grey;
    background-color: $hr-color-grey;
    height: 1px;
  }

  .hr {
    margin: 10px 15px;
  }

  &__heading {
    text-align: center;
    margin-bottom: 75px;
  }

  .basic-plan,
  .gold-plan,
  .premium-plan {
    background-color: $about-us-text-color;
    border: 1px solid $hr-color-grey;
    color: $price-blocks-text;
  }
  .basic-plan,
  .premium-plan {
    margin-right: 20px;
  }

  &__button {
    background-color: $color-yellow;
    @include button;
    border: none;
    width: 130px;
    height: 40px;
    margin: 35px auto 0 auto;
  }

  .index {
    font-size: 45px;
    color: $color-yellow;
    font-weight: 500;
  }

  .usd {
    font-size: 28px;
  }

  .per-month {
    font-size: 15px;
    margin: 0 auto 35px auto;
  }

  .plan {
    font-size: 20px;
    font-weight: 100;
    margin: 50px auto 30px auto;
  }

  .premium-plan:hover {
    @extend %price-hover;
  }

  .gold-plan:hover {
    @extend %price-hover;
  }

  .basic-plan:hover {
    @extend %price-hover;
  }
}
