@include full-hd {
  header .container {
    max-width: $breackpoint-laptop;
    margin: 0 auto;
  }
  header .menu {
    text-align: center;
    padding-left: 0;
  }
}

@include laptop() {
  header .container {
    max-width: $breackpoint-tablet;
    text-align: center;
    padding-left: 0;
  }

  header .menu {
    padding-left: 0;
  }
}

@include tablet() {
  header .container {
    max-width: $breackpoint-phone;
  }
  header .row {
    @include flex-column;
  }
  .header menu {
    @include flex-column;
  }
}

@include phone() {
  header .row {
    @include flex-column;
  }

  .header menu {
    @include flex-column;
  }
}
